.fulldiv{
    position: relative;
    width: 485px;
height: 459px;
}

.card {
    width: 370px;
    height: 400px;
    margin-top: 59px;
    padding-left: 25px;
    background-color: #fff;

}

.card img {
    margin-top: 20px;
    /* margin-left: 25px; */
}

.card .about_div{
    margin-top: 26px;
    
}

.card .about_div p{
font-size: 18px;
font-weight: 500;
line-height: 22px;
font-style: normal;
text-align: left;
color: #080809;
}

.card .about{
    margin-top: 13px;
    padding: 0;
    font-size: 16px;
font-weight: 500;
line-height: 19px;
font-style: normal;
text-align: left;
color: #84829a;
width: 200px;
display: flex;
justify-content: space-between;
}
.card .btn{
    display: flex;
    flex-direction: row;
    margin-top: 21px;
}
.card .btn i{
    width: 36px;
    height: 36px;
    background: #f5f5f5;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
margin-right: 18px;
color: #84829A;

}
.card .people{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    /* justify-content: center; */
}

.card .people p,i{
    color: #84829A;

}

.fulldiv .decore{
    position: absolute;
    width: 300px;
height: 200px;
opacity: 0.80;

filter: blur(80px);
top: 0px;
left: 90px;
z-index: -9999;
background: #59b1e6
}