.destinations{
    width: 83.4vw;
    height: 617px;
    margin-top: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 9.5vw;
}

.destinations .para1{
    
    font-family: "Poppins";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #5e6282;
}

.destinations .head2{
    font-family: "Volkhov";
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #14183e;
}

.destinations div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.destinations p{

    font-family: "Poppins";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #5e6282;
}
.destinations h2{
    margin-top: 8px;
    
    font-family: "Volkhov";
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #14183e;
}

@media only screen and (max-width: 750px) {
    .destinations div{
        flex-direction: column;
    }
}
